{% extends "layout.html" %}
{% block body %}
  
  {% if song %}
  <h3>Current song:</h3>
  <button id="like">Like</button>
  <button id="next">Next</button><br>
  <span id="current-song">{{ song }}</span><br>
  <iframe src="https://embed.spotify.com/?uri={{ song }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  <br>
  {% endif %}

  <!-- Spotify Login -->
  {% if profile %}
    Logged in as {{ profile['email'] }}
    <!-- Info: {{ profile }} -->
    <dl>
      <dt>Birthdate</dt>
      <dd>{{ profile['birthdate'] }}</dd>
      <dt>Country</dt>
      <dd>{{ profile['country'] }}</dd>
    </dl>
    
  {% else %}
    <a href="{{ url_for('spotify_login') }}">Login to Spotify</a>
  {% endif %}

<!--   {% if results %}
    <h3>List of Spotify tracks:</h3>
    <ul class=tracks>
    {% for item in results['items'] %}
      <li><h4>{{ item['track']['name'] }} - {{ item['track']['artists'][0]['name'] }}</h4></li>
    {% else %}
      No tracks found!
    {% endfor %}
    </ul>

  {% else %}
    <h3>Login to Spotify to get tracks!</h3>
  {% endif %} -->

  <!-- Twitter login -->
  {% if twitter %}
    <h2>Logged in to Twitter</h2>
    Your color is <strong id="current-color">{{ color }}</strong>
  {% else %}
    <h2>Login to Twitter</h2>
  {% endif %}
  <form action="{{ url_for('index', token=token, twitter=username) }}" method=get>
    <dl>
      <dt>Username:
      <dd><input type=text name=twitter value="{{ twitter }}"></dd>
      <dd><input type=text name=token value="{{ token }}" style="visibility: hidden;"></dd>
      <dd><input type=submit value=Login></dd>
    </dl>
  </form>

{% endblock %}